---
layout: default
permalink: index.html
---

<header class="c-siteheader">
  <div class="l-container">

    <div class="c-siteheader__brand">
      <h1 class="c-sectiontitle"><span>Nicolas Benedit</span></h1>
      <h2 class="c-h1">Architecture &amp; Design</h2>
    </div>

    <div class="c-siteheader__links">
      <ul class="c-socialmedia">
        <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="#">{% include svg/icon_facebook.svg %}</a></li>
        <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="#">{% include svg/icon_linkedin.svg %}</a></li>
        <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="#">{% include svg/icon_instagram.svg %}</a></li>
      </ul>
    </div>

  </div>
</header>

<main>
  <div class="l-contentsection  l-contentsection--dark">
    <div class="l-container">

      <h3>Meet the designer</h3>
      <blockquote>
        <p>As a fan of big hardware stores, my great challenge is to <strong>create</strong> original products <strong>from existing</strong> industrial <strong>parts</strong>.</p>
      </blockquote>

      <h4>Nicolas Benedit</h4>
      <p>Based in Barcelona since 2001 (Buenos Aires, Argentina 1973), Nicolás graduated in Architecture and worked in Barcelona and Buenos Aires in housing projects and in remodeling and interior design projects for commercial architecture.</p>
      <p>Lover of the industrial design, right now is in full development of his own line of lamps.</p>

      <ul>
        <li>Private housing renovation</li>
        <li>Industrial design</li>
        <li>Interior design</li>
        <li>Commercial architecture</li>
      </ul>

    </div>
  </div>

  <div class="l-contentsection">
    <div class="l-container">

      <h3>Products</h3>
      <p>I currently have produced my first lamp. Various other products are at the prototyping stage right now and will be released over the course of 2018.</p>

      <h4>Nina</h4>
      <h5>Industrial suspension lamp</h5>
      <p>The Nina industrial suspension lamp was born from my fascination for combining and re-purposing commonly used industrial parts. For example, her shade is a PVC piece used in traditional construction for drain installations.</p>

      <h6>Materials</h6>
      <ul>
        <li>PVC drain piece</li>
        <li>Beechwood</li>
        <li>Aluminium details</li>
        <li>Textile cable</li>
      </ul>

      <h6>Recommended light bulbs</h6>
      <p>LED 7.5 Watts 806 Lumen 3000K</p>

      <p><a href="#"><span>50.99 &euro;</span> <span>Buy Online</span></a></p>

    </div>
  </div>

</main>

<footer class="c-sitefooter">
  <div class="l-container">

    <div class="c-sitefooter__content">
      <p>Get in touch, why don’t you?</p>
      <ul>
        <li><a href="mailto:hello@nicolasbenedit.com">hello@nicolasbenedit.com</a></li>
        <li><a href="tel0032474340174">+32 474 340 174</a></li>
      </ul>

      <ul class="c-socialmedia  c-socialmedia--light  c-socialmedia--small">
        <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="#">{% include svg/icon_facebook.svg %}</a></li>
        <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="#">{% include svg/icon_linkedin.svg %}</a></li>
        <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="#">{% include svg/icon_instagram.svg %}</a></li>
      </ul>
    </div>

    <div class="c-sitefooter__copyright">
      <p class="margin-bottom-none">Copyright {{ 'now'| date: '%Y' }} - Nicolas Benedit - All rights reserved</p>
    </div>

  </div>
</footer>
