// ===================================
// settings
// ===================================

$spacing-map: (
  "none": 0,
  "xs": 4,
  "s": 8,
  "base": 16,
  "l": 24,
  "xl": 32,
) !default;

$breakpoints-map: (
  "large": (
    query: "all and (min-width: 1024px)",
    generate-rwd-classes: true,
  ),
  "medium": (
    query: "all and (min-width: 760px)",
    generate-rwd-classes: true,
  ),
  "small": (
    query: "all and (min-width: 500px)",
    generate-rwd-classes: true,
  ),
);

// ===================================
// margins
// ===================================

// base classes
@each $size-name, $size-value in $spacing-map {
  .u-margin-top-#{$size-name} {
    margin-top: calc(#{$size-value} / 16 * 1rem) !important;
  }
  .u-margin-right-#{$size-name} {
    margin-right: calc(#{$size-value} / 16 * 1rem) !important;
  }
  .u-margin-bottom-#{$size-name} {
    margin-bottom: calc(#{$size-value} / 16 * 1rem) !important;
  }
  .u-margin-left-#{$size-name} {
    margin-left: calc(#{$size-value} / 16 * 1rem) !important;
  }
}

// RWD classes
@each $breakpoint-name, $breakpoint-params in $breakpoints-map {
  // get parameters
  $classes: map-get($breakpoint-params, generate-rwd-classes);
  $query: map-get($breakpoint-params, query);

  // check if needs generation
  @if ($classes == true) {
    // write media query
    @media #{$query} {
      // write classes
      @each $size-name, $size-value in $spacing-map {
        .u-margin-top-#{$size-name} {
          margin-top: calc(#{$size-value} / 16 * 1rem) !important;
        }
        .u-margin-right-#{$size-name} {
          margin-right: calc(#{$size-value} / 16 * 1rem) !important;
        }
        .u-margin-bottom-#{$size-name} {
          margin-bottom: calc(#{$size-value} / 16 * 1rem) !important;
        }
        .u-margin-left-#{$size-name} {
          margin-left: calc(#{$size-value} / 16 * 1rem) !important;
        }
      }
    }
  }
}
