// ===================================
// socialmedia
// ===================================

.c-socialmedia {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.c-socialmedia__item:not(:last-child) {
  margin-right: pxtorems(6px);
}

.c-socialmedia__link {
  display: block;
  color: $color-grey1;
  transition: all 0.2s ease-in-out;
}

.c-socialmedia__link:hover {
  color: $color-accent1;
}

.c-socialmedia__link > svg {
  display: block;

  width: pxtorems(36px);
  height: pxtorems(36px);

  @include mq(medium) {
    width: pxtorems(42px);
    height: pxtorems(42px);
  }

  @include mq(large) {
    width: pxtorems(48px);
    height: pxtorems(48px);
  }
}

/* footer variant */
.c-socialmedia--footer {
  & .c-socialmedia__link {
    color: #ffffff;

    &:hover {
      color: $color-grey4;
    }
  }
  & svg {
    width: pxtorems(36px);
    height: pxtorems(36px);
  }
}
