// ===================================
// Bigquote
// ===================================

.c-bigquote {
  margin: 0 0 1.5rem;
  padding: 0;

  font-weight: 400;
  font-size: pxtorems(18px);
  line-height: (30/18);
  text-transform: uppercase;
  color: $color-grey3;

  & strong {
    font-weight: 400;
    color: #ffffff;
  }

  @include mq(medium) {
    font-weight: 300;
    font-size: pxtorems(30px);
    line-height: (42/30);

    & strong {
      font-weight: 300;
    }
  }

  @include mq(large) {
    font-size: pxtorems(36px);
    line-height: (48/36);
  }
}
