// ===================================
// Site footer
// ===================================

.c-sitefooter {
  background-color: $color-grey1;
}

.c-sitefooter__content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.c-sitefooter__copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding-top: 42px;
  padding-bottom: 42px;
}
