// ===================================
// product
// ===================================

/**
 * Layout
*/

.c-product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @include mq(medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  @include mq(large) {
    align-items: center;
  }
}

.c-product__content {
  @include mq(medium) {
    order: 1;
    width: 40%;
    flex: 0 1 auto;
  }

  @include mq(large) {
    width: 38.46%;
  }
}

.c-product__image {
  margin-bottom: 1.5rem;

  @include mq(medium) {
    order: 2;
    margin-bottom: 0;
    width: 52%;
    flex: 0 1 auto;
  }

  @include mq(large) {
    width: 38.46%;
  }
}

/**
 * Typography
*/

.c-product__title {
  margin-bottom: pxtorems(6px);
  font-weight: 400;
  font-size: pxtorems(36px);
  line-height: (42/36);
  font-family: $fontstack-main;
  color: $color-grey2;
}

.c-product__subtitle {
  font-weight: 400;
  font-size: pxtorems(20px);
  line-height: (24/20);
  font-family: $fontstack-main;
  color: $color-grey4;
}

.c-features {
  margin: 0 0 1.5rem;
}

.c-features__name {
  margin-bottom: pxtorems(3px);
  font-weight: 600;
  font-size: pxtorems(16px);
  color: $color-grey1;
}

.c-features__content {
  margin: 0 0 1.5rem;
  font-size: pxtorems(14px);
  color: $color-grey3;
}
