// ===================================
// Site footer
// ===================================

.c-sitefooter {
  background-color: $color-grey1;
}

.c-sitefooter__content {
  padding-top: 60px;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @include mq(medium) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.c-sitefooter__contact {
  @include mq(medium) {
    margin-right: 30px;
    width: 100%;
    flex: 1 1 auto;
  }
}

.c-sitefooter__social {
  @include mq(medium) {
    margin-left: auto;
    width: auto;
    flex: 0 0 auto;
  }
}

.c-sitefooter__copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 42px;
  padding-bottom: 42px;
}
