// ===================================
// intros
// ===================================

.c-sectionintro {
  font-weight: 400;
  margin-bottom: pxtorems(72px);
  font-size: pxtorems(18px);
  line-height: (24/18);
  color: $color-grey3;

  @include mq(medium) {
    font-size: pxtorems(20px);
    line-height: (30/20);
    margin-right: 25%;
  }

  @include mq(large) {
    font-weight: 300;
    font-size: pxtorems(24px);
    line-height: (36/24);
    margin-right: 40%;
  }
}
