// ===================================
// Site header
// ===================================

.c-siteheader {
  padding-top: pxtorems(120px);
  padding-bottom: pxtorems(120px);
}

.c-siteheader > .l-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @include mq(medium) {
    flex-direction: row;
    align-items: center;
  }
}

.c-siteheader__brand {
  max-width: 448px;
  flex: 0 1 auto;
}

.c-siteheader__links {
  flex: 0 1 auto;

  @include mq(medium) {
    margin-left: auto;
  }
}
