// ===================================
// Picturesgrid
// ===================================

.c-picturesgrid {
  list-style: none;
  margin: 0;
  padding: 0;

  height: 100vw;

  @include mq(small) {
    height: calc(100vw / 16 * 9);
  }

  @include mq(large) {
    height: calc(100vw / 16 * 7);
  }

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;

  @include mq(small) {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto;
  }
}

.c-picturesgrid > li {
  position: relative;
}

.c-picturesgrid__big {
  display: block;
  grid-column: 5 / 9;
  grid-row: 1 / 9;

  @include mq(small) {
    grid-column: 8 / 17;
    grid-row: 1 / 10;
  }

  & > img {
    object-position: 100% 50%;
  }
}

.c-picturesgrid__medium {
  grid-column: 1 / 5;
  grid-row: 2 / 6;

  @include mq(small) {
    grid-column: 1 / 8;
    grid-row: 2 / 6;
  }
}

.c-picturesgrid__small {
  grid-column: 2 / 5;
  grid-row: 6 / 9;

  @include mq(small) {
    grid-column: 4 / 8;
    grid-row: 6 / 9;
  }
}

.c-picturesgrid img {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
