// ===================================
// buttons
// ===================================

.c-button {
  display: inline-block;
  padding: pxtorems(12px) pxtorems(24px);
  border: 1px solid $color-grey1;

  font: 600 pxtorems(14px) / 1 $fontstack-main;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-grey1;

  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: $color-accent1;
    color: $color-grey3;
  }
}

// ===================================
// button buy
// ===================================

.c-button-buy {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;

  border: 1px solid $color-grey1;

  text-transform: uppercase;
  text-decoration: none;

  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: $color-accent1;

    & > .c-button-buy__price {
      background-color: $color-accent1;
    }
  }

  & > .c-button-buy__price {
    padding: pxtorems(12px) pxtorems(18px);
    background-color: $color-grey1;

    font: 600 pxtorems(14px) / 1 $fontstack-main;
    color: #ffffff;

    transition: all 0.2s ease-in-out;
  }

  & > .c-button-buy__cta {
    padding: pxtorems(12px) pxtorems(24px);

    font: 600 pxtorems(14px) / 1 $fontstack-main;
    color: $color-grey1;
  }
}
