// ===================================
// designer
// ===================================

.c-designer {
  @include mq(medium) {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    grid-column-gap: pxtorems(30px);
    justify-items: start;
  }
}

.c-designer__title {
  @include mq(medium) {
    grid-column: 1 / span 10;
    grid-row: 1 / 2;
  }

  @include mq(large) {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
  }
}

.c-designer__quote {
  @include mq(medium) {
    grid-column: 1 / span 10;
    grid-row: 2 / 3;
  }

  @include mq(large) {
    grid-column: 4 / span 7;
    grid-row: 1 / 2;
  }
}

.c-designer__bio-title {
  @include mq(medium) {
    grid-column: 1 / span 10;
    grid-row: 3 / 4;
  }

  @include mq(large) {
    grid-column: 4 / span 7;
    grid-row: 2 / 3;
  }
}

.c-designer__bio {
  @include mq(medium) {
    grid-column: 1 / span 6;
    grid-row: 4 / 5;
  }

  @include mq(large) {
    grid-column: 4 / span 3;
    grid-row: 3 / 4;
  }
}

.c-designer__skills {
  @include mq(medium) {
    grid-column: 7 / span 4;
    grid-row: 4 / 5;
  }

  @include mq(large) {
    grid-column: 8 / span 3;
    grid-row: 3 / 4;
  }
}
