// ===================================
// Colors
// ===================================

$color-grey1: #141417;
$color-grey2: #434345;
$color-grey3: #727273;
$color-grey4: #d0d0d0;
$color-grey5: #e7e7e8;
$color-grey6: #f3f3f3;

$color-accent1: #24c1f2;
