// ===================================
// Colors
// ===================================

$color-grey1: #141417;
$color-grey2: #434345;
$color-grey3: #727273;
$color-grey4: #9b9b9b;
$color-grey5: #d0d0d0;
$color-grey6: #e7e7e8;
$color-grey7: #f5f5f5;
$color-grey8: #f9f9f9;

$color-accent1: #24c1f2;
