<header class="c-siteheader">
  <div class="l-container">

    <div class="c-siteheader__brand">
      <h1 class="c-sectiontitle"><span>Nicolas Benedit</span></h1>
      <h2 class="c-h1">Architecture &amp; Design</h2>
    </div>

    <div class="c-siteheader__links">
      <ul class="c-socialmedia">
        <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="#">{% include svg/icon_facebook.svg %}</a></li>
        <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="#">{% include svg/icon_linkedin.svg %}</a></li>
        <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="#">{% include svg/icon_instagram.svg %}</a></li>
      </ul>
    </div>

  </div>
</header>
