// ===================================
// contact list
// ===================================

.c-contactlist {
  list-style: none;
  margin: 0 0 1.5rem;
  padding: 0;
}

.c-contactlist__item:not(:last-child) {
  margin-bottom: calc(6 / 16 * 1rem);
}

.c-contactlist__link {
  color: $color-grey4;
  text-decoration: none;

  &:hover {
    color: $color-accent1;
  }
}
