// ===================================
// Bigquote
// ===================================

.c-bigquote {
  margin: 0 0 1.5rem;
  padding: 0;

  font-weight: 400;
  font-size: calc(18 / 16 * 1rem);
  line-height: calc(30 / 18);
  text-transform: uppercase;
  color: $color-grey3;

  & strong {
    font-weight: 400;
    color: #ffffff;
  }

  @include mq(medium) {
    font-weight: 300;
    font-size: calc(30 / 16 * 1rem);
    line-height: calc(42 / 30);

    & strong {
      font-weight: 300;
    }
  }

  @include mq(large) {
    font-size: calc(36 / 16 * 1rem);
    line-height: calc(48 / 36);
  }
}
