// ===================================
// Content sections
// ===================================

.l-contentsection {
  padding-top: pxtorems(60px);
  padding-bottom: pxtorems(60px);

  @include mq(medium) {
    padding-top: pxtorems(120px);
    padding-bottom: pxtorems(120px);
  }
}

.l-contentsection--dark {
  background-color: $color-grey1;
  color: $color-grey6;
}

.l-contentsection--designer {
  background-image: url(../img/bkg_nico.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: contain;

  @include mq(large) {
    background-position: calc(50% - 300px) 100%;
  }
}
