// ===================================
// Containers
// ===================================

.l-container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1170px;

  @include mq(medium) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
