<footer class="c-sitefooter">
    <div class="l-container">

      <div class="c-sitefooter__content">

        <div class="c-sitefooter__contact">
          <h2 class="c-h3  c-h3--inverse">Get in touch, why don’t you?</h2>
          <ul class="c-contactlist">
            <li class="c-contactlist__item"><a  class="c-contactlist__link" href="mailto:hello@nicolasbenedit.com">hello@nicolasbenedit.com</a></li>
            <li class="c-contactlist__item"><a class="c-contactlist__link" href="tel:0034633758389">+34 633 75 83 89</a></li>
          </ul>
        </div>

        <div class="c-sitefooter__social">
          <ul class="c-socialmedia  c-socialmedia--footer">
            <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="https://www.facebook.com/nicolas.benedit.3">{% include "svg/icon_facebook.svg" %}</a></li>
            <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="https://www.linkedin.com/in/nicolas-benedit-2099a115b/">{% include "svg/icon_linkedin.svg" %}</a></li>
            <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="https://www.instagram.com/nicolasbenedit/">{% include "svg/icon_instagram.svg" %}</a></li>
          </ul>
        </div>
      </div>

      <div class="c-sitefooter__copyright">
        <p class="u-margin-bottom-none  u-text-s  u-text-grey">Copyright {{ site.buildDate | date('YYYY') }} - Nicolas Benedit - All rights reserved</p>
      </div>

    </div>
  </footer>
